/**
    * Custom Header Search Box
    * --------------------------------------------------------------------- */

my-search-typeahead.justify-content-end {
  justify-content: center !important;
}

#typeahead-container::before {
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  position: absolute;
  margin-top: 6px;
  left: 10px;
  content: ' ';
  z-index: 3;
  background-color: var(--actionButtonColor) !important;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>');
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>');
}

#typeahead-container input#search-video {
  text-indent: 25px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 2;
  transition: all .4s;
  box-shadow: none;
  background-color: var(--submenuBackgroundColor) !important;
  border: 2px solid var(--greyBackgroundColor) !important;
  border-radius: 4px;
  cursor: text;
  color: var(--mainForegroundColor);
  opacity: 1 !important;
}

#search-video::placeholder {
  color: var(--actionButtonColor) !important;
  opacity: 1 !important;
}

#typeahead-container input#search-video:not(:focus):hover,
#typeahead-container input#search-video:not(:focus):active {
  box-shadow: none;
}

#typeahead-container input#search-video:focus {
  background-color: var(--mainBackgroundColor) !important;
  border: 2px solid var(--mainColor) !important;
  z-index: 0;
  cursor: text;
}

#typeahead-instructions {
  margin-top: 2px !important;
}

#typeahead-container .icon.icon-search {
  display: none;
}

@media screen and (max-width: 500px) {
  #typeahead-container {
    display: none !important;
  }
}


